
@import url("fonts/font/stylesheet.css");

body{        
    padding-top: 60px;
    padding-bottom: 40px;
    font-family:GT Walsheim Pro;
    background-color: #F7F7F7;
    margin: 0;
}
  
.header1, .footer1{
    width: 100%;
    position: fixed;        
    color: #fff;
    z-index: 1000;
    
}

.header1, nav a{
    float: left;
    transition: .5s ease;
    color: #040e18;
    font-weight: 300;
    font-size: 16px;
}

.header1, nav a:hover{
    text-decoration: underline;
}

.header1{
    top: 0;
    margin-left: -8px;
    height: 66px;
    
    background-color: #f7f7f7;
    background-color: rgba(0,0,0,0)!important; 
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

@media only screen and (max-width: 600px) {
    nav {
      display: none;
    }
  }

.footer1{
    bottom: 0;
    background: #333;
}
.container1{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content:flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-child, .container-child3, .container-child2, .container-child4, .container-child5, .container-child6{
    flex-direction: column;
    flex-grow: 2;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding-left: 50px;
}

.container-child6{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX1o2cnNHIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iMTYuNSIgaGVpZ2h0PSIxNi41IiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoMTM1KSI+PGxpbmUgeDE9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTYuNSIgc3Ryb2tlPSIjMzEzMTMyIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm5fWjZyc0cpIiBvcGFjaXR5PSIwLjU3Ii8+PC9zdmc+')

}

.container-child5{
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #040e18;
    border-bottom: 1px solid #040e18;
    flex-wrap: wrap;
    
}

.container-child2{
    border-top: 1px solid #040e18;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3F2dFciIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMy41IiBoZWlnaHQ9IjEzLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg1MCkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEzLjUiIHN0cm9rZT0iIzlEOUQ5RCIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3F2dFcpIiBvcGFjaXR5PSIxIi8+PC9zdmc+')
}

.container-child4{
    border-top: 1px solid #040e18;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX1o2cnNHIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iMTYuNSIgaGVpZ2h0PSIxNi41IiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoMTM1KSI+PGxpbmUgeDE9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTYuNSIgc3Ryb2tlPSIjMzEzMTMyIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm5fWjZyc0cpIiBvcGFjaXR5PSIwLjU3Ii8+PC9zdmc+')
}

.card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 44px;
    width: 300px;
    height: 145px;
    
}

.project-card-title p{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: -10px;
}

.project-card{
    border-radius: 12px;
    width: 222px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-items: left;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 18px 40px -17px rgb(77 77 77);
    -moz-box-shadow: 0px 18px 40px -17px rgba(77,77,77,1);
    box-shadow: 0px 18px 40px -17px rgb(77 77 77);
    padding: 0px 28px 0px 27px;
}



.project-card-image img{
    width: 150px;
    margin: 20px;
}

.card .card-image img:hover{
    filter: grayscale(0%);
}

.card .card-image img{
    width: 90px;
    filter: grayscale(100%);
}


.container-child3{
    border-bottom: 1px solid #040e18;
    border-top: 1px solid #040e18;
    flex-direction: row;
    justify-content:space-between;
    gap: 286px;
    align-items: center;
    
}

.container-child3{
    align-items: center;

}

.buttoni{
    background-color: #040e18;
    padding: 12px 22px;
    border-radius: 4px;
    color: #f6f5f3;
    font-size: 16px;
    height: 19px;
    margin-top: 12px;
}


.sm-p{
    font-size: 43px;
    font-weight: 100;
}

.bg-p{
    font-size: 50px;
    font-weight: 500;
}

.header1, h5{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
    padding-left: 26px;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 24px 42px;
    
}